<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="<%- theme.zhihu_url%>" target="_blank">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-zhihu fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="<%- theme.weibo_url%>" target="_blank">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="<%- theme.github_url%>" target="_blank">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">
                    Copyright ©️ <a href="/" target="_blank">Damon</a> 2016 <br>
                    Adapted for <a target="_blank" href="https://hexo.io/">Hexo</a>
                </p>
            </div>
        </div>
    </div>
</footer>